<p>Order <a href="{{ link }}">#{{ order.id }}</a> complete!</p>

<h4>Vendor - {{ order.vendor }}</h4>
<h4>Purchase date - {{ order.purchase_date }}</h4>
<h4>Purchased by - {{ order.purchased_by }}</h4>
<h4>Entered by - {{ order.entered_by }}</h4>
<h4>Comments</h4>
<h5>{{ order.comments }}</h5>

<h3>Products</h3>
<table>
    <thead>
        <th>Vend Product Name</th>
        <th>Purchase Quantity</th>
        <th>Retail Units Per Bulk</th>
        <th>Retail Quantity</th>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product }}</td>
            <td>{{ product.purchase_quantity }}</td>
            <td>{{ order.units_per_bulk }}</td>
            <td>{{ product.retail_quantity }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>