{% extends "admin/change_list.html" %} {% load i18n %} 

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a class="historylink" href="import/">Import</a>
    </li>
{% endblock %}