{% extends "admin/delete_confirmation.html" %} {% load i18n admin_urls static %}

{% block content %}
    {% if perms_lacking %}
        <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result
            in deleting related objects, but your account doesn't have permission to delete the following types of
            objects:{% endblocktrans %}</p>
        <ul>
            {% for obj in perms_lacking %}
                <li>{{ obj }}</li>
            {% endfor %}
        </ul>
    {% elif protected %}
        <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would
            require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
            {% for obj in protected %}
                <li>{{ obj }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "
            {{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
        {% include "admin/includes/object_delete_summary.html" %}
        <h2>{% trans "Objects" %}</h2>
        {% for deletable_object in deletable_objects %}
            {% if 99 < deletable_object|length %}
                <p>{{ deletable_object|length }} objects</p>
            {% else %}
                <ul>{{ deletable_object|unordered_list }}</ul>
            {% endif %}
        {% endfor %}
        <form method="post">{% csrf_token %}
        <form method="post">{% csrf_token %}
            <div>
                <input type="hidden" name="post" value="yes">
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
                <input type="submit" value="{% trans "Yes, I'm sure" %}">
                <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
            </div>
        </form>
    {% endif %}
{% endblock %}