{% extends "admin/base_site.html" %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <input type="file" name="csv_file">
        <button type="submit">Import</button>
    </form>
{% endblock %}