<li>
    {% if not request.GET.deleted__exact or request.GET.deleted__exact == '0' %}
        <a class="historylink" href="?deleted__exact=1">Recycle Bin</a>
    {% else %}
        <a
                style=" background-color: #639af5; color: #fff;"
                class="historylink"
                href="?deleted__exact=0">Recycle Bin</a>
    {% endif %}
</li>